body{
	background-image: url("/static/background.jpg");
	background-attachment: fixed;
}
span > .title {
	color: white;

}
.mobileView{
	display:none;
}
.navbar {
   background: rgba(0,0,0,0.4);
   border: 0px;
}
.panel-footer{
	border: 0px;
	background: rgba(0,0,0,0.4);
}
.container{
	color: #BEBDC3;
}
.name{
	position:absolute;
	margin-top: 10px;
	margin-left: 50px;
	font-family: Tahoma, Geneva, sans-serif;
	color: white;
	font-size: 20px;
}

.container > ul {
	display: inline;
	float: right;
	position: relative;
	right: 5%;
	margin: 5px;
}
.img-square{
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
    width:30px; /* you can use % */
    height: 30px;
    border: 1px solid #B3B5B5;
    /*z-index:0; */
    border-radius: 3px;
}


.jumbotron{
	position: relative;
	display: block;
	background: url('/static/cover.png')no-repeat;
}
.contactInfo{
	display: inline;
}

.panel-footer > p{
	display: block;
}

/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

.socialIcons{
	display: inline;
	float: right;
}
.icon{
	display: inline-block;
	/*margin-bottom: 0px;*/
}

@media (max-width: 760px){
	body{
	background-image: url("/static/background.jpg");
	background-attachment: fixed;
	}
	audio{
		display: none;
	}
	.mobileView{
		display:none;
	}
	.navbar{
		/*border: 3px solid red;*/
		margin-bottom: 0px;
		width: 140px;
		height: 400px ;
	    background-color: rgba(0,0,0,0.4);
	    position: fixed;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    max-height: none;
	}
	.navbar {
	    text-align: center;
	    display: inline-block;
	}
	ul{
		float: none;
	    display: block;
	    margin-left: 19px
	}
	.img-square{
		margin-top: 28px;
		margin-left: 38px;
		display: block;
		width: 60px;
		height: 60px;
	}
	.name{
		display: absolute;
		margin-top: 105px;
		margin-left: 10%;
		display: block;
	}
	.navbar > .container{
		display: absolute;
		margin-top: 150px;
		margin-left: 5%;
		width: 90% ;

	}
	.nav{
		display:absolute;
		margin-left: 18px !important;
		width: 100px ;
	}
	li{
		margin-left: 2px;
	    display: block;
	    width:120px;
	}
	.main_content{
		position: relative;
		/*border: 4px solid white;*/
	    /*z-index: 10;*/
	    margin-left: 140px;
	    min-height: 100%;
	    padding: 20px 20px;
	}
	.main_content > .container{
	    position: relative;
	    min-height: 100%;
	    max-width: 100% ;
	}
	.largeView{
		display: none;
	}
	.panel-footer{
		width: 140px;
		height: 700px ;
		margin-top: 400px;
	    background-color: rgba(0,0,0,0.4);
	    position: fixed;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    max-height: none;
	}
	.contactInfo{
		display: inline-block;
		width: 140px;
		margin-left: -15px;
		color:#AFB6B6;
	}
	.socialIcons{
		position: absolute;
		display: block;
		text-align: center;
		margin-left: 20px;
	}
	.socialIcons > .icon{
		display: block;
		margin: 8px;
	}
	.copyright > p{
		display: block;
		position: relative;
		margin-top: 240px;
		bottom: 20px;
		left: 2px;
		color:#AFB6B6;
	}
	
}
@media (max-width: 450px){
	audio{
		display: none;
	}
	body{
		background-image: url("/static/background.jpg") fixed;
		background-attachment: fixed;
	}
		.largeView{
		display: none;
	}
	.mobileView{
		display:block;
		background-color: rgba(0,0,0,0.4);
		text-align: center;
		height: 50px;
	}
	.dropdown > button{
		border-radius: 0px;
		background-color: transparent;
		border: 0px solid transparent;
		color: white;
		height:50px;
	}
	.dropdown > .dropdown-menu{
		text-align: center;
		width:80%;
		border-radius: 0px;
		margin-left: 10%;
		margin-right: 10%;
		background-color: rgba(0, 0, 0, 0.3);
	}
	.dropdown-menu > li{
		width:100%;
		height: 45px;
		margin:0px;
		color: white;
	}
	.dropdown-menu > li> a{
		display: inline-block;
		width:100%;
		height: 44px;
		margin:0px;
		padding-top:14px;
		color: white;

	}
	.main_content{
		display: relative;
		/*border: 2px dashed purple;*/
		width: 100%;
		margin-left: 0px;
	}
	footer{
		display: inline-block;
		/*border: 1px solid white;*/
		width: 100%;
		height: 60px;
		margin-left: 0px;
		margin-right: 0px;
		position: relative;
		margin-bottom: 0px;
	}
	.panel-footer{
		/*display: relative;*/
		width: 100%;
		height: 150px;
		margin-top: 0px;
	    left: 0;
	    top: 0px;
	    /*bottom: 0;*/
	    background-color: rgba(0,0,0,0.4);
	    position: relative;
	}
	.contactInfo {
		/*border: 2px solid yellow;*/
		display: block;
		width: 90%;
		margin-left: 5%;
		text-align: center;
	}
	.socialIcons{
		/*border: 2px solid white;*/
		margin-right: 5%;
		margin-left: 5%;
		width: 80%;
	}
	.socialIcons >.icon{
		/*border: 2px solid yellow;*/
		display: inline-block;
	}
	.copyright > p{
		/*border: 2px solid yellow;*/
		display: block;
		margin-top: 90px;
		text-align: center;
	}
	.navbar{
		display: none;
	}
	.img-square{
		position: absolute;
		margin-top: 10px;
		margin-left: 10px;
	    width:30px; /* you can use % */
	    height: 30px;
	    border: 1px solid #B3B5B5;
	    /*z-index:1; */
	    border-radius: 3px;
	}
	.name{
		border: 1px solid yellow;
		position: absolute;
		margin-top: 10px;
		margin-left: 0px;
		display: inline;
	}

}


/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}

.weibo span {
	background-color: #D51007;
}
.facebook span {
	background-color: #3B5998;
}
.instagram span {
	background-color: #5C3D2E;
}
.github span {
	background-color: #4183C4;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .fa-weibo {
	color: #D51007;
}
.icon-button .fa-facebook {
	color: #3B5998;
}
.icon-button .fa-instagram {
	color: #5C3D2E;
}
.icon-button .fa-github {
	color: #4183C4;
}
.icon-button:hover .fa-weibo,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-github {
	color: white;
}


.expanded{
	width:100%;
}

.scrollToTop{
	width:120px; 
	height:40px;
	padding:10px; 
	text-align:center; 
	font-size: 15px;
	color: #D7D7E5;
	position:fixed;
	top:100px;
	right:0px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	display:none;
	background: rgba(0,0,0,0.6);
}
.scrollToTop:hover{
	text-decoration:none;
	color: #E58BAB;
}

