{% extends "templates/base.html" %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<!-- <img src = "static/coverPhoto.jpg" alt = "coverPhoto"/> -->
		<h1>嗷！吐血啦</h1>
		<p>19:18 失去3升 B型血</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">别点了没连接</a></p>
	</div>
</div>
<div class="container">
	<div class="row">
	  <div class="col-sm-6 col-md-6">
	    <div class="thumbnail">
	      <img src="static/IMG_3091.jpg" alt="...">
	      <div class="caption">
	        <h3>哎……</h3>
	        <p>这个世界好复杂 我真是不懂啊</p>
	        <p><a href="#" class="btn btn-primary" role="button">别点啊！</a> <a href="#" class="btn btn-default" role="button">千万别点啊！</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-6">
	    <div class="thumbnail">
	      <img src="static/IMG_4408.jpg" alt="...">
	      <div class="caption">
	        <h3>哎……</h3>
	        <p>这盆多肉被我养死了</p>
	        <p><a href="#" class="btn btn-primary" role="button">哭啊！</a> <a href="#" class="btn btn-default" role="button">好想哭啊！</a></p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-6">
	    <div class="thumbnail">
	      <img src="static/IMG_3096.jpg" alt="...">
	      <div class="caption">
	        <h3>哎……</h3>
	        <p>春天到了好想出去玩~~</p>
	        <p><a href="#" class="btn btn-primary" role="button">想啊！</a> <a href="#" class="btn btn-default" role="button">好想粗去啊！</a></p>
	      </div>
	    </div>
	  </div>

	</div>
</div>
{%endblock%}
