{% extends "templates/base.html" %}
{% block content %}

<link rel = "stylesheet" type="text/css" href="static/index.css">

<div class="container">
	<div class="jumbotron">
		<h3>Hi, Welcome!</h3>
		<p></p>
		<p><a class="btn btn-primary btn-lg" href="/resume" role="button">Click to view my resume</a></p>
	</div>
</div>
<div class="container .tl">
    <ul class="timeline">
        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="Hi, I'm Mengtian" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="/static/IMG_3266.JPG" />
              
            </div>
            <div class="timeline-body">
              <p>Hi, I'm Mengtian Xu from China. I'm now studying in University of Michigan, Ann Arbor as a Electrical and Computer Engineering student.</p>
            </div>
          </div>
        </li>
        
        <li  class="timeline-inverted">
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="/static/IMG_5867.jpg" />
              
            </div>
            <div class="timeline-body">
              <p>I love painting. For me, painting is a way for self expressing, a release of creative energy, and it also helps calm and relax my body.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="/static/guqin.jpg" />
              
            </div>
            <div class="timeline-body">
              <p>I like to listening traditional Chinese music, especially Guqin (also called Chinese zither). Chinese zither, is a Chinese traditional plucked musical string instrument with over 2500 years of history.</p>
              
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="/static/IMG_5287.JPG" />
              
            </div>
            <div class="timeline-body">
              <p>I love flowers and plants. I take photos of nature and landscapes. They are also great materials for painting. </p>
              
            </div>
          </div>
        </li>
        
        <li  class="timeline-inverted">
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="/static/cooking.jpg" />
              
            </div>
            <div class="timeline-body">
              <p>I like Japanese food and Chinese food. As a foodie, I cook in my spare time. You can visit my Interest page to see more pictures of food.</p>
              
            </div>
          </div>
        </li>
        
        <!-- <li class="clearfix" style="float: none;"></li> -->
    </ul>
</div>
</div>
<div class="container EmailMe">

<style>
    h1
    {
      font-family : Arial, Helvetica, sans-serif;
      font-size : 16px;
        font-weight : bold;
    }
    label,a 
    {
      font-family : Arial, Helvetica, sans-serif;
      font-size : 12px; 
    }

</style>  
<!-- a helper script for vaidating the form-->
<script language="JavaScript" src="/static/gen_validatorv31.js" type="text/javascript">
</script>

<h1>Contact Me</h1>
<form method="POST" name="contactform" action="MAILTO:mtxu@umich.edu"> 
<p>
<label for='name'>Your Name:</label> <br>
<input type="text" name="name">
</p>
<p>
<label for='email'>Email Address:</label> <br>
<input type="text" name="email"> <br>
</p>
<p>
<label for='message'>Message:</label> <br>
<textarea name="message"></textarea>
</p>
<input type="submit" value="Submit"><br>
</form>

<script language="JavaScript">
// Code for validating the form
var frmvalidator  = new Validator("contactform");
frmvalidator.addValidation("name","req","Please provide your name"); 
frmvalidator.addValidation("email","req","Please provide your email"); 
frmvalidator.addValidation("email","email","Please enter a valid email address"); 
</script>
</div>
{%endblock%}
