  {% extends "templates/base.html" %}
{% block content %}
<link rel = "stylesheet" property='stylesheet' type="text/css" href="static/resume.css">
<div class="container">
    <div>
        <h1>EDUCATION</h1>
        <h3>University of Michigan</h3>
            <h5>Master of Science in Electrical and Computer Engineering</h5>
        <p>Coursework: Database Management System, Data Structure and Algorithms, Complex Webpage Design, Web Search and Information Retrieval, Machine Learning
        </p>
        <h3>Illinois Institute of Technology</h3>
            <h5>Master of Science in Electrical and Computer Engineering</h5>
        <p>Coursework: Object-Oriented Programming (Java), Digital Computers and Computing, Intro to VLSI Design
        </p>
    </div>
    <div>
        <h1>SKILLS</h1>
        <ul class="resume">
            <li>Programming Languages: Java, C++, Python, HTML, CSS, Matlab, MySQL, MongoDB, JavaScrip
            </li>
            <li>Software: Proficient in Mac OS, Windows, Linux, Microsoft Office (PowerPoint, Word, and Excel)
            </li>
            <li>Languages: native Mandarin, proficient English</li>
            <li>Others: Sketching, Painting</li>
        </ul>
    </div>
    <div>
        <h1>PROJECT EXPERIENCE</h1>
        <h3>Database Management System</h3>
        <ul class="resume">
          <li>Designed relational database for storing information about Fakebook social network to get familiar with conceptual and logical database design.</li>
          <li>Created and embedded SQL queries into Java source code into Java Database Connectivity to implement Fakebook.</li>
          <li>Implemented algorithm that database systems commonly use to address the system crash problems and recovery to speed up the system.</li>
          <li>Optimized query and understood query planning by using PstgreSQL. </li>
          <li>Performed MongoDB queries and retrieved data from MongoDB to get experienced in NoSQL Database.</li>
        </ul>
        <h3>Data Structure and Algorithms</h3>
          <ul class="resume">
          <li>Applied fundamental data structures including balanced trees and graphs, searching and sorting algorithms, recursive algorithms, basic graph algorithms, greedy algorithms as well as divide and conquer strategy.</li>
        </ul>
    </div>
    <div>
        <h1>EXPERIENCE</h1>
        <h3>State Grid Zhengjiang Tonglu Power Supply Company</h3>
        <h5>Intern</h5>
        <ul class="resume">
          <li>Assisted with the usage of engineering application software to complete engineering task such as checking load flow and ground grid design to improve the performance of efficient power grid in summer.</li>
          <li>Assisted engineers overhauling generating units and renewing generators to prevent summer emergencies.</li>
        </ul>
    </div>
    <div>
        <h1>ACTIVITES</h1>
        <ul class="resume">
          <li>Animation and Comic Association, North China Electric Power University, member</li>
          <li>Open House Chicago, Chicago Architecture Foundation, voluntee</li>
        </ul>
    </div>
</div>
{%endblock%}